html{
	height:100%;
}

body {
  padding-top: 54px;
  height:100%;
}
footer{
	margin:0;
	height:50px;
	
}

.wrapper{
	min-height:100%;
}

.content{
	padding-top:5px;
	padding-bottom:60px;
}

.footer{
}
p{
	padding-top:15px;
}
	
