html{
	height:100%;
}

body {
  padding-top: 54px;
  height:100%;
}
footer{
	margin:0;
	height:50px;
	
}

.wrapper{
	min-height:100%;
}

.content{
	padding-top:5px;
	padding-bottom:60px;
}

.footer{
}
p{
	padding-top:15px;
}

ol.breadcrumby {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ol.breadcrumby li {
    display: inline;
    font-size: 18px;
}
ol.breadcrumby li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ol.breadcrumby li a {
    color: #0275d8;
    text-decoration: none;
}
ol.breadcrumby li a:hover {
    color: #01447e;
    text-decoration: underline;
}
	
